[submodule "sources/gh-activity-graph-sh"]
	path = sources/gh-activity-graph-sh
	url = https://github.com/arcbjorn/gh-activity-graph-sh.git
[submodule "sources/sources"]
	path = sources/sources
	url = https://github.com/arcbjorn/test1.git
[submodule "sources/test2"]
	path = sources/test2
	url = https://github.com/arcbjorn/test2.git
[submodule "sources/agents-orchestrator"]
	path = sources/agents-orchestrator
	url = https://github.com/arcbjorn/agents-orchestrator.git
[submodule "sources/workflow"]
	path = sources/workflow
	url = https://github.com/arcbjorn/workflow.git
